language: python
sudo: false
python:
  - "3.3"
  - "2.7"
env:
  - DJANGO_VERSION=1.7
  - DJANGO_VERSION=1.8
# command to install dependencies, e.g. pip install -r requirements.txt --use-mirrors
install:
  - pip install -q Django==$DJANGO_VERSION --use-mirrors
  - python setup.py -q install
# command to run tests, e.g. python setup.py test
script: "cd tests && ./manage.py test testapp"
