{% extends "flock/base.html" %}

{% block content %}
<div class="row">
  <div class="large-12 columns">

    <h1>{{ project }}</h1>

    {% if project.funding_goal %}
      <div class="progress round">
        <span class="meter" style="width:{{ project.funding_percentage }}%">
        </span>
      </div>

      <p>
        {{ project.funding_percentage }}% ({{ project.donation_total }})
        von {{ project.funding_goal }} gesammelt.
      </p>
    {% endif %}

    <form method="post" action=".">
      {% csrf_token %}
      <ul>
        {{ form.as_ul }}
      </ul>
      <button type="submit">Absenden</button>
    </form>

  </div>
</div>
{% endblock %}
